{% extends 'home.html' %}

{% block main%}
<style>
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
    }

    .profile-img img {
        width: 70%;
        height: 100%;
    }

    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }

    .profile-head h5 {
        color: #333;
    }

    .profile-head h6 {
        color: #0062cc;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }

    .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }

    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

    .profile-head .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #0062cc;
    }

    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }

    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }

    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }

    .profile-work ul {
        list-style: none;
    }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>
<main class="container bg-light">
    <section class="p-3">
        <div class="fs-1 fw-bold text-center">{{user.first_name}}</div><hr>
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div class="profile-head mb-3">
                            <h5>
                                <b>My Profile</b>
                            </h5>
                            
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>


            <div class="tab-content profile-tab my-2" id="myTabContent">
                    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row" style="margin-left: 15%;">
                            <div class="col-md-6">
                                <label>Roll Number</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.username}}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15%;">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.first_name}}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15%;">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-left: 15%;">
                            <div class="col-md-6">
                                <label>Blogs written</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{len}}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15%;">
                        <a type="submit" class="profile-edit-btn mb-3 text-right" href="dashboard/changepassword" name="btnAddMore" >Change Password ?</a>
                    </div> 
                    </div>
            </div>
        </div>



        {% for card in cards %}
        <div class="card mb-3 mx-auto justify-content-center" style="max-height:1000px; max-width:1000px; padding:0%">
            <div class="row g-0">
                <div class=" justify-content-center">
                    <div class="card-body justify-content-center mx-5 my-3">
                        <div class="row">
                        <p class="card-title fs-5 col-md-8" style="font-weight: bolder ">{{card.title}}</p>
                        <a type="button" style="width: max-content; height:min-content" href="{% url 'update' card.id %}" class="btn btn-primary rounded-pill col-md-2 mx-1 my-1 px-3 justify-content-end" >Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg> </a>
                        <a type="button" style="width: max-content;" href="{% url 'delete' card.id %}" class="btn btn-danger rounded-pill col-md-2 mx-1 px-3 my-1 justify-content-end">Delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>
                        </div>
                        <p class="card-text gowun-font">{{ card.desc|truncatechars:150 }}</p>
                        <p class="card-text"><small class="text-muted">{{card.student.first_name}} | Category : {{card.category}}</small></p>
                        <a type="button" class="card-text btn btn-warning btn-sm ms-2" href="{% url 'blog' card.id %}">Read
                            more</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
</main>

{% endblock %}